		<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<h1>Precios</h1>
				</header>
					


				<!-- Main -->
					<div id="main">
						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Detalle</h2>
									<p>Paquete Basico</p>
								</header>
								
							</section>
							<section>
								<div class="container">
									<table class="table">
										<thead class="thead-dark">
										  <tr>
											<th scope="col">#</th>
											<th scope="col">Detalle</th>
											<th scope="col">Caracteristicas</th>
											<th scope="col">Anual</th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<th scope="row">1</th>
											<td>Dominio</td>
											<td></td>
											<td>35 $</td>
										  </tr>
										  <tr>
											<th scope="row">2</th>
											<td>Plan Economico</td>
											<td>Certificado SSL</td>
											<td>85 $</td>
										  </tr>
										  <tr>
											<th scope="row"></th>
											<td></td>
											<td>5 Gb</td>
											<td></td>
										  </tr>
										  <tr>
											<th scope="row"></th>
											<td></td>
											<td>1 Dominio Soportado</td>
											<td></td>

										  </tr>
										  <tr>
											<th scope="row"></th>
											<td></td>
											<td>Migración</td>
											<td></td>
										  </tr>	
										  <tr>
											<th scope="row"></th>
											<td></td>
											<td> Backup / Respaldos</td>
											<td></td>
										  </tr>
										  
										  <tr>
											<th scope="row"></th>
											<td></td>
											<td> Soporta 5 BD</td>
											<td></td>
										  </tr>
										  
										  <tr>
											<th scope="row">Total</th>
											<td></td>
											<td> <b>Total</b> </td>
											<td>100 $</td>
										  </tr>
										</tbody>
									  </table>
						
								</div>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<h2>Marlon Pizarro</h2>
                    </footer>

			</div>
	</body>